.block{
  width: 900px;
height: 90vh;
margin: 0px auto;

}
.photo{
  width:auto;
  height: 200px;
  margin-left: 10px;
  
}
.bord{
  border: 10px solid blue;
  padding: 20px;
}
h3{
  text-align: center;
}
.photo:hover{
  border: 1px solid black;

}