.container{
  width: 600px;
  margin: 0px auto;
  background-color: bisque;
  height: 50vh;
  padding-left: 10px;
}
.inputing{
width: 90%;
margin-left: 10px;
margin-top: 5px;
margin-bottom: 10px;
height: 25px;
}
.submit{
  width: 95%;
  margin-left: 10px;
  height: 25px;
  background-color:green;
  color: white;
  font-size: 18px;
  border-color: green;
  margin-bottom: 10px;
}
h2{
  text-align: center;
  color:white;
}

.submit:hover{
  background-color:greenyellow;
  border-radius: 10px;
  color:black;
}