.block {
  margin: 0 auto;
  width: 700px;
  height: 100vh;
  background-color: aqua;
}

input {
  width: 95%;
  margin-top: 8px;
  margin-left: 10px;
  height: 30px;
  border-radius: 10px;
}

.submit {
  background-color: greenyellow;
  font-size: 20px;
  color: white;
}

.submit:hover {
  background-color: purple;
}