.container{
  width: 700px;
  margin: 0px auto;
  height: 100vh;
  background-color: bisque;
}
.input{
  
  width: 90%;
  margin: 5px;
  height: 30px;
}
h2{
  text-align: center;
}
.submit{
  width: 98%;
  margin: 5px;
  height: 35px;
  background-color:greenyellow;
  border-color: white;
  color: white;
  font-size: 20px;
}