.container{
  width: 600px;
  border:1px solid green;
  
}
.nav{
  list-style: none;
  border-left: 10px solid blue;
  border-top: 10px solid yellow;
  border-right: 10px solid blue;
  border-bottom: 10px solid yellow;


}
.nav li{
  border:1px solid black;
  
}
.blue{
  background-color: blue;
}
.yellow{
  background-color:yellow;
  
}
.nav a{
  font-size: 20px;
  text-decoration: none;
font-weight: bold;

}
.white{
  color:white;
}